.button, .button:link, .button:visited {
  @include transition(all 0.4s);
  padding: 10px 0px 6px 0px;
  font-size: 1.5em;
  @include border-radius($radius);
  border: 0px;
  -webkit-font-smoothing:antialiased;
  cursor: pointer;
  background: $green_light;
  text-align: center;
  @include inline-block;
  line-height: 30px;
  color: white;
  @include text-shadow(0 2px 3px $green_shadow);
  font-family: 'QuestrialRegular';
  font-weight: 700;
  border-bottom: 2px solid $green_light;
  border-top: 2px solid $green_light;
  text-decoration: none;
  margin-top: 18px;
  // @include box-shadow(0 3px 12px -6px $green_shadow inset, 0px 6px 11px -11px rgba(0, 0, 0, 0.5));
  @include box-shadow(0 3px 12px -6px $green_shadow inset, 0px 6px 11px -8px rgba(0, 0, 0, 0.5));

  background-image: repeating-linear-gradient(45deg, transparent, transparent 10px, rgba(255, 255, 255, 0.1) 10px, rgba(255, 255, 255, 0.1) 20px);

  &.icon-right i {
    @include transition(all 0.4s);
    background: none repeat scroll 0 0 $green_dark;
    @include border-radius(100%);
    height: 18px;
    line-height: 8px;
    margin-bottom: -32px;
    margin-left: 13px;
    margin-top: -38px;
    padding: 7px 8px 0 9px;
    position: relative;
    top: 1px;
  }

  &:hover {
    border-bottom: 2px solid $green_dark;
    border-top: 2px solid $green_dark;
    @include box-shadow(0 3px 15px -3px $green_shadow inset, 0px 6px 11px -5px rgba(0, 0, 0, 0.5));

    i {
      color: $yellow;
    }
  }
}

.button-suffix {
  color: white;
  font-size: 1.3em;
  // margin-left: 10px;
  position: relative;
  top: 20px;
  font-weight: lighter !important;
  margin-right: -20px !important;

  a:link, a:visited {
    @include transition(all 0.4s);
    color: white;
    margin-left: 7px;
    text-decoration: none;
    border-bottom: 1px dotted white;
  }

  a:hover {
    color: $yellow;
  }
}

.button-suffix.dark {
  color: $green_dark;

  a:link, a:visited {
    color: $green_light;
    border-bottom: 1px dotted $green_light;
  }
  a:hover {
    color: $yellow;
    border-bottom: 1px dotted $yellow;
  }
}


.button i.icon-coffee {
  font-size: 17px;
  padding: 9px 5px 0px 7px !important;
  top: -1px !important;
}

.button i.icon-search {
  font-size: 17px;
  padding: 9px 5px 0px 7px !important;
  top: -1px !important;
}

.Firefox {
  .button, .button:link, .button:visited {
    font-weight: 400;
  }
}

@include at-breakpoint(720px 12) {
  .button {
    padding: 10px 30px 6px 30px !important;
  }
  .button-suffix {
    top: 12px;
    margin-top: 19px;
  }
}

.button.mobile-full-width {
  margin-right: 10px !important;
}