article#introduction {
  // @include animate(fadeInUp, 1s);
  margin-bottom: 80px;

  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 101vw;
    height: 800px;
    z-index: -1;
    bottom: 60px;
    left: 50%;
    @include transform(translateX(-50%));
    background: url("../img/bg.png") no-repeat scroll center center transparent;
  }
}

@include at-breakpoint(6 720px) {
  article#introduction:after {
    bottom: -60px;
    height: 600px;
  }
}


span.streamer {
  padding-top: 20px;
  display: block;
  color: white;

  h2 {
    font-size: 31px;
    -webkit-font-smoothing:antialiased;
  }

  h4 {
    margin: 20px 0;
    line-height: 20px;
    @include text-shadow(0 -3px 2px $green_shadow, 0 2px 5px rgba(0, 0, 0, 0.5));
    em {
      font-size: 17px;
      line-height: 21px;
      margin-top: 24px;
    }
  }
}

.Chrome, .Safari {
  span.streamer {
    h4 {
      @include text-shadow(0 -3px 8px $green_shadow, 0 2px 8px rgba(0, 0, 0, 0.5));
    }
  }

  .button i.icon-angle-right {
    padding: 4px 8px 3px 9px;
    top: -2px;
  }
}

@include at-breakpoint(6 400px) {
  article#introduction {
    padding-bottom: 40px;
  }
}

@include at-breakpoint(720px 12) {

  #overview > h3 {
    margin-bottom: 100px;
  }
  span.streamer {
    padding-top: 50px;
    margin-top: 35px;
  }
  h2 {
    font-size: 3em !important;
  }
  h4 {
    line-height: 30px !important;
  }
}

@include at-breakpoint(6 720px) {
  article#intro {
    h3 {
      border: 0;
      line-height: 34px;
      &:after {
        display: none;
      }
    }
    h4 {
      line-height: 26px;
    }
  }
}