body {
  background: url(../img/debut_light.png);
  font-family: 'bariol_regularregular';
  color: $gray_dark;
}

i {
  font-weight: 100 !important;
}

ul {
  list-style: square inside none;
  color: $green_light;

  span {
    color: $blue_dark;
  }
}

strong {
  font-weight: bold !important;
  color: $green_dark;
}

h2 {
  font-size: 4em;
  @include text-shadow(0 -2px 5px #051D05);
  font-family: 'bariol_regularregular';
  font-weight: 400;
}

h3 {
  font-weight: 400;
  border-bottom: 1px dashed $gray_lighter;
  font-family: 'bariol_regularregular';
  font-size: 2.5em;
  line-height: 1.4em;
  margin-bottom: 1em;
  margin-top: 0.3em;
  @include border-radius($radius);
  color: $green_dark;
  &:after {
    background-image: repeating-linear-gradient(45deg, transparent, transparent 10px, rgba(255, 255, 255, 0.6) 10px, rgba(255, 255, 255, 0.6) 20px);
    content: ".";
    display: block;
    height: 16px;
    left: 0;
    position: absolute;
    text-indent: -99999px;
    top: 62px;
    width: 100%;
    z-index: -1;
  }
}

h4 {
  font-size: 1.3em;
  font-weight: 400;
  line-height: 2em;
  font-family: 'bariol_regularregular';
}

em {
  font-weight: 100;
  font-family: 'bariolregular_italic';
}

p {
  line-height: 1.4em;
  margin-bottom: 1em;
}

textarea:focus, input:focus{
    outline: none;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  @include inline-block;
}

#content-wrapper {
  background: url("../img/bg.png") no-repeat scroll -600px -338px transparent;
  // background: url(../img/bg.png) no-repeat center -150px;
  overflow-x: hidden;
}

@include at-breakpoint(720px 12) {
  #content-wrapper {
    background: url(../img/bg.png) no-repeat center -250px;
  }
}

#content {
  position: relative;
  @include container;
  // @include susy-grid-background;

  article {
    padding-top: 10px;
    margin-bottom: 90px;
    position: relative;
    display: block;
    float: left;
    clear: both;
    width: 100%;
    @include clearfix();
    overflow: visible;
  }
}

@include at-breakpoint(720px 12) {
  #content {
    @include container;
  }
}


.float-right {
  float: right;
}

.float-left {
  float: left;
}

#intro-more {
  float: left;
  padding-top: 100px;

  .image-wrapper {
    @include span-columns(1, 2);
  }

  .detail {
    position: relative;
    h3 {
      font-size: 2.2em;
      &:after {
        top: 43px;
      }
    }
    @include span-columns(1 omega, 2);
  }
}

.hidden-mobile {
  display: none !important;
}


@include at-breakpoint(720px 12) {
  .hidden-mobile {
    display: block !important;
  }
}

.mobile-full-width {
  @include span-columns(6, 6);
  @include box-sizing(border-box);
  text-align: center;
  // margin-left: 0 !important;
  // margin-right: 0 !important;
}

@include at-breakpoint(720px 12) {
  .mobile-full-width {
    width: auto !important;
    @include box-sizing(border-box);
    text-align: left;
  }
}
