#mobile-with-leaflet {
  display: none;
}

#mobile-with-leaflet {
  position: relative;
  margin-left: 20px;
  background: url("../img/phone-android.png") no-repeat scroll 0 0 transparent;
  height: 515px;
  width: 252px;
  #map {
    display: block;
    height: 354px;
    left: 23px;
    position: relative;
    top: 62px;
    width: 207px;
  }
}

.Mac #mobile-with-leaflet {
  background: url("../img/phone-iphone.png") no-repeat scroll 0 0 transparent;
  width: 245px;
  #map {
    display: block;
    left: 21px;
    position: relative;
    top: 76px;
  }

  #phone-shadow {
    bottom: 9px;
  }
}

.Windows.Explorer #mobile-with-leaflet {
  background: url("../img/phone-windows.png") no-repeat scroll 0 0 transparent;

  #map {
    display: block;
    left: 23px;
    position: relative;
    top: 98px;
  }

  #phone-shadow {
    bottom: 9px;
  }
}

#phone-shadow {
  background: none repeat scroll 0 0 black;
  @include border-radius(100%);
  bottom: 27px;
  @include box-shadow(0 22px 40px 20px black);
  display: block;
  height: 5px;
  left: 50%;
  margin-left: -107px;
  position: absolute;
  width: 210px;
  z-index: -1;
}

@include at-breakpoint(720px 12) {
  #mobile-with-leaflet {
    display: block;
    float: right;
  }
}

@include at-breakpoint(960px 12) {
  #mobile-with-leaflet {
    margin-left: 100px;
  }
}