#mobile-with-leaflet {
  display: none;
}

@include at-breakpoint(720px 12) {
  #mobile-with-leaflet {
    display: block;
  }
}

#mobile-with-leaflet,
.Linux #mobile-with-leaflet {
  background: url("../img/phone-android.png") no-repeat scroll 0 0 transparent;
  height: 599px;
  position: absolute;
  right: -52px;
  top: 0;
  width: 345px;
  #map {
    position: relative;
    display: block;
    height: 344px;
    left: 64px;
    top: 120px;
    width: 218px;
  }
}

.Mac #mobile-with-leaflet {
  background: url("../img/phone-iphone.png") no-repeat scroll 0 0 transparent;
  height: 599px;
  position: absolute;
  right: -44px;
  top: 40px;
  width: 365px;
  #map {
    position: relative;
    display: block;
    height: 354px;
    left: 98px;
    top: 80px;
    width: 207px;
  }
}

.Windows.Explorer #mobile-with-leaflet {
  background: url("../img/phone-windows.png") no-repeat scroll 0 0 transparent;
  height: 553px;
  position: absolute;
  right: -63px;
  top: 40px;
  width: 387px;
  #map {
    position: relative;
    display: block;
    height: 346px;
    left: 94px;
    top: 100px;
    width: 209px;
  }
}